<mat-card class="conten-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" 
             [ngStyle]="
                        {'background-image': 'url('+dataVideo.userImageURL+')',
                         'background-size':'cover'}">
        </div>
        <mat-card-title>{{dataVideo.user}}</mat-card-title>
        <mat-card-subtitle>{{dataVideo.tags}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>
<video [src]="dataVideo.videos.small.url" controls></video>
